.card {
    margin: 1%;
    padding: 1em;
}

img {
    width: 100%;
    margin-bottom: 1em
}

.card-title {
    font-size: 2rem;
}

.hero {
    background-image: url("fabric.jpg");
    height: 50%;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}

ul li {
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-position: 0 0;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    line-height: 1.5rem;
}