/* latin-ext */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G07JIoSwQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Atkinson Hyperlegible";
}

.minibox {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1em;
    border-radius: 2em;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    backdrop-filter: blur(2p);
    position: relative;
    margin: 2%;
}

.card:hover {
    opacity: 100%;
}

.card-title {
    font-size: 2rem;
}


.accordion {
    margin: 1%;
}

.jumbotron {
    border-color: black;
}

.textColourOverBlack {
    text-align: justify;
}

#jumbatroncontainer {
    border-style: solid;
    border-radius: 0%;
}

.navbar,
.navbar * {
    background-color: rgba(255, 255, 255, 0.75);
    min-height: 0;
    position: relative;
    z-index: 9999;
}

.navbar-brand,
.nav-link {
    color: black;
}
